/*============ Start global =================*/

body{
	box-sizing: border-box;
	height: 900px;
}


/*============ Start nav customer ===============*/

.setting_navbar {
	background-color: #00000026 !important;
	border-radius: unset;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}

.circle-img{
	width: 20px;
	height: 20px;
	border-radius: 50%;
}

/*============ Start sign up page =================*/


/* shadow with toggle signup and login  */
.btn-outline-dark:not(:disabled):not(.disabled).active:focus,
.btn-outline-dark:not(:disabled):not(.disabled):active:focus,
.show>.btn-outline-dark.dropdown-toggle:focus {
    box-shadow: unset;
}

.form-group {
    margin-bottom: 30px;
}


.toggle-sign-login{
	min-height:400px;
	background-color: #fff;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50% , -50%);
	padding: 0px;
	border-radius: 10px;
	z-index: 10;
}


.form-signup {
	background-color: #fff;
	margin:  auto;
	padding: 20px;
	position: absolute;
	top: 100px;
}

.toggle-sign-login .toggle-edit {
    position: absolute;
    top: 0;
    left: -1px;
	right: -1px;
	margin: 0;
}

.edit-inner-toggle{
	border-radius: unset;
	height: 60px;
	border: 0;
}

.toggle-sign-login .form-control {
	border: unset;
    border-bottom: 2px solid #d4d4d4;
    border-radius: unset;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: unset;
    border-bottom: 2px solid #797979 !important;
}

.active{
	background-color: #656bff;
    color: #fff;
}

.btn-sign,
.btn-check,
.btn-login{
	background-color: #656bff !important;
    color: #fff !important;
}

.btn:hover {
    background-color: #3a3c75 !important;
    color: #fff !important;
}

.btn.focus, .btn:focus {
    outline: 0;
     box-shadow:unset;
}

/*============ Start sign up page =================*/
.login {
	display: none;
    position: absolute;
    padding: 10px;
    width: 760px;
    z-index: 2;
    top: 115px;
}

.login .form-check {
    padding-left: 37px;
}


/*============ Start Check email page =================*/

.check-email{
	background-color: #fff;
    padding: 13px;
    position: absolute;
    top: 50%;
	left: 0;
	z-index: 10;
}


/*============ Start canvas email page =================*/


.background-color{
	background-color: #17182f;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -20;
}

canvas {
	display: block;
	vertical-align: bottom;
  }
  
  #particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 5;
  }


/*============ Start alert error =================*/  

.alert_formErrors:first-child {
    color: #c30b0b;
    border-left: 2px solid #960909;
    padding-left: 10px;
    margin-top: -15px;
}
.alert_formErrors {
    color: #c30b0b;
    border-left: 2px solid #960909;
    padding-left: 10px;
    margin-top: 15px;
}



.testt{
	margin: 60px;
	font-size: 60px;
	color: #000;
}




.animation-text{
	margin: 80px auto;
	color: #fff;
	text-align: center;
	font-size: 50px;
	font-family: 'Righteous', cursive;
}

.animation-text span{
	margin: 80px auto;
	color: #656bff;
	text-align: center;
	font-size: 40px;
	font-family: 'Righteous', cursive;
}

